/* Shared */
button {
    font-family: Impact, fantasy, -apple-system;
}

/* NavBar */
nav {
    height: 5vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

nav a,
nav button {
    background: none;
    border: none;
    padding: 0;
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
