html {
    background-color: rgb(103, 180, 126);
  }
  
  body {
    background-color: rgb(255, 255, 255);
    font-family:  New Century Schoolbook, TeX Gyre Schola, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 1vh auto;
    min-height: 96vh;
    width: 75%;
    border: 5px solid black;
    border-radius: 25px;
    overflow-y: scroll;
  }
  